<!doctype html>
<html lang="zh-CN">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="renderer" content="webkit">
		<title>浩鲸科技年年会抽奖系统</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="css/mui.css" />
		<link rel="stylesheet" href="css/index.css" />
		<script type="text/javascript" src="./js/vue.js"></script>
	</head>
	<body>

		<script type="text/javascript" src="js/jquery-3.2.1.min.js" ></script>	
		<div class="wrap" id="app">
			<div class="prize_con">
				<p class="prize_grade"><span>幸运抽奖</span> <i id="root"></i></p>		
				<div class="prize_list vetically">
					<ul>
						<li>中奖结果</li>
					</ul>
				</div>										
			</div>
		</div>	
		<!-- <button @click="begin" class="butt">{{title ? "开始" : "停止"}}</button> -->
		 <button v-on:click="begin"  class="butt">开始</button>
		 <ul class="prize_set">
		 	<li class="set_grade">奖励等级
		 		<select id="set_grade">
					 <div  v-for="numberist in numberist">	
		 			<option>选择奖等</option>
		 			<option>numberist.name</option>
		 		</select>
		 	</li>
	
		 </ul>
		 //数量名单
	<div class="luck_name2" style="left: 15px;" >
		<ul class="winnerName1" style="list-style-type: none;">
			<table v-for="numberist in numberist" id="staff">
				<tr> 
				<td>{{numberist.name}}</td>
				</tr>
				<tr> 
				<td>{{numberist.number}}</td>
				</tr>
			</table>
			<div >			
														
			</div> 
		</ul>
	</div>
		//中奖名单
		<div class="luck_name">
			<ul class="winnerName" style="list-style-type: none;">
				<table v-for="nameList in nameList">
					<tr> 
					<td> {{nameList.name}}</td>
					</tr>
					<tr> 
					<td> {{nameList.price}}</td>
					</tr>
				</table>						
		</div> 
		</ul>
		</div>
		//滚动
		<script>
		        var app = new Vue({
		            el : "#root",
		            data : {
		                data : [
		                   
		                ],
		                title : true,
		                setTime: null,
		                res : ""
		            },
		            methods : {
						information(){
							
						},
		                begin(){
		                    var i = 0
		                    if(this.title){
		                            this.setTime = setInterval(()=>{
		                                    this.res = this.data[i]
		                                    i = i+1
		                                    if(i===this.data.length){
		                                            i=0
		                                    }
		                            
		                            },100)
		                    }else{
		                            clearInterval(this.setTime)
		                    }
		                    this.title = !this.title
		                }
		            },
					
		        })
		    </script>		
	<script type="text/javascript">
		     var config={
				el:"#app",	
				data: {
				    nameList: [],
					numberList: []
				},
				methods:{
					begin: function(){
				    var serverurl="http://localhost";
					axios.get(serverUrl)
					    .then(function (res) {
						var result=res.data;
						 this.vue.numberist = result;
					}).catch();									
	 			var serverurl="http://";
				axios.get(serverUrl)
				    .then(function (res1) {
					var  resule=res1.data;
					 this.vue.nameList = result;
				}).catch();		
				}
			},
			}
			 var vue = new Vue(config);		
		</script>
	</body>
		
</html>