<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8"/>
    <title></title>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <!-- 引入样式文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vant@2.12/lib/index.css"/>
    <!-- 引入 Vue 和 Vant 的 JS 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vant@2.12/lib/vant.min.js"></script>
    <!-- 必须先引入vue，  后使用element-ui -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <link rel="stylesheet" href="../node_modules/element-ui/lib/theme-chalk/index.css">
    <script src="../node_modules/element-ui/lib/index.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
<div id="lottery">
    {{lotteryName}}（抽奖标题，括号内的内容设置好样式了记着删除）
    <div class="lottery" v-show="admin">
        抽奖
        <el-carousel :interval="speed" height="100px" width="400px" direction="vertical" :autoplay="autoplay" arrow="never" indicator-position="none">
            <el-carousel-item v-for="item in staffList" :key="item.staffId">
                <h3 class="medium">{{ item.staffName }}</h3>
            </el-carousel-item>
        </el-carousel>

        <el-select v-model="prizeId" placeholder="请选择">
            <el-option
                    v-for="item in prizeList"
                    :key="item.prizeId"
                    :label="item.prizeName"
                    :value="item.prizeId">
            </el-option>
        </el-select>
        <el-button @click="lottery">开始抽奖</el-button>
        奖品列表
        （如果取出来的num=0，则不可选择）
    </div>
    <div class="prize">
        <el-table
                :data="prizeList"
                border
                style="width: 100%">
            <el-table-column
                    prop="prizeName"
                    label="奖项"
                    width="180">
            </el-table-column>
            <el-table-column
                    prop="num"
                    label="剩余数量"
                    width="180">
            </el-table-column>
            <el-table-column
                    prop="staffName"
                    label="已获奖"
                    width="180">
            </el-table-column>
        </el-table>
    </div>
    <div class="login" v-show="!admin">
        <el-input placeholder="请输入密码" v-model="password" show-password ></el-input>
        <el-button @click="login">登录</el-button>
    </div>
    <div class="update">
        <el-button @click="update">编辑</el-button>
    </div>
</div>
<script type="text/javascript" src="lottery/lottery.js"></script>
<style>
    #lottery{
        padding-left: 10%;
        padding-right: 10%;
        width: 80%;
    }
</style>
</body>

</html>
