<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iwhalecloud.lottery.mapper.LotteryMapper">
  <resultMap id="BaseResultMap" type="com.iwhalecloud.lottery.entity.Lottery">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="lottery_id" jdbcType="INTEGER" property="lotteryId" />
    <result column="lottery_name" jdbcType="VARCHAR" property="lotteryName" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="password" jdbcType="VARCHAR" property="password" />

  </resultMap>
  <!--  插入sql-->
  <insert id="insertLottery" parameterType="com.iwhalecloud.lottery.entity.Lottery" useGeneratedKeys="true" keyProperty="lotteryId"
          keyColumn="lottery_id"  >
    insert  into lottery (lottery_name,state,password)
        values (#{lotteryName},#{state},#{password})
  </insert>
</mapper>
