<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iwhalecloud.lottery.mapper.LotteryMapper">
  <resultMap id="BaseResultMap" type="com.iwhalecloud.lottery.entity.Lottery">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="lottery_id" jdbcType="INTEGER" property="lotteryId" />
    <result column="lottery_name" jdbcType="VARCHAR" property="lotteryName" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
  </resultMap>
  <!--  插入sql-->
  <insert id="insertLottery" parameterType="com.iwhalecloud.lottery.entity.Lottery" >
    insert  into lottery (lottery_name,user_id)
        values (#{lotteryName},#{userId})
  </insert>
  <delete id="deleteLottery" parameterType="com.iwhalecloud.lottery.entity.Lottery">
    delete lottery where lotteryName=#{lotteryName} and userId=#{userId}
  </delete>
</mapper>