<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iwhalecloud.lottery.mapper.PrizeMapper">
  <resultMap id="BaseResultMap" type="com.iwhalecloud.lottery.entity.Prize">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="prize_id" jdbcType="INTEGER" property="prizeId" />
    <result column="prize_name" jdbcType="VARCHAR" property="prizeName" />
    <result column="num" jdbcType="INTEGER" property="num" />
    <result column="lottery_id" jdbcType="INTEGER" property="lotteryId" />
  </resultMap>
  <!--  插入sql-->
  <insert id="insertPrize" parameterType="java.util.List" >
    insert  into prize (prize_name,num,lottery_id)
        values
        <foreach collection="list" item="prize" separator=",">
          (#{prize.prizeName},#{prize.num},#{prize.lotteryId})
        </foreach>
  </insert>
   <!--  批量更新    -->
    <update id="updateBatch"  parameterType="java.util.List">
        <foreach collection="list" item="prize" index="index" open="" close="" separator=";">
            update prize
            <set>
                prize_name=#{prize.prizeName},
                num=#{prize.num}
            </set>
            where prize_id = ${prize.PrizeId}
        </foreach>
    </update>
    <delete id="deleteBatch" parameterType="java.lang.Integer">
        delete  from  prize
        where lottery_id =
        #{lotteryId}
    </delete>
</mapper>