<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iwhalecloud.lottery.mapper.StaffMapper">
  <resultMap id="BaseResultMap" type="com.iwhalecloud.lottery.entity.Staff">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="staff_code" jdbcType="VARCHAR" property="staffCode" />
    <result column="staff_name" jdbcType="VARCHAR" property="staffName" />
    <result column="lottery_id" jdbcType="INTEGER" property="lotteryId" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="staff_id" jdbcType="INTEGER" property="staff_id" />
  </resultMap>
  <!-- 批量新增-->
  <insert id="insertBatchExcel" parameterType="java.util.List">
      INSERT INTO staff(staff_code,staff_name,lottery_id,state)
      VALUES
      <foreach collection="list" item="staff" separator=",">
        (#{staff.staffCode,jdbcType=VARCHAR},#{staff.staffName,jdbcType=VARCHAR},#{staff.lotteryId},#{staff.state})
      </foreach>
  </insert>
    <!--  批量删除 -->
    <delete id="deleteBatchData" parameterType="java.lang.String">
        delete  from  staff
        where staff_code IN
        <foreach collection="list" item="staff" open="(" separator="," close=")">
            #{staff.staffCode}
        </foreach>
    </delete>
    <!-- 查询员工所有信息-->
    <select id="selectStaff" resultMap="BaseResultMap">
       SELECT
	staff_code,staff_name,staff.lottery_id,lottery.lottery_id,staff.state,staff_id
FROM
	staff,lottery
WHERE
staff.lottery_id = lottery.lottery_id
    </select>
</mapper>