<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>2021浩鲸科技年会抽奖</title>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vant@2.12/lib/index.css"/>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vant@2.12/lib/vant.min.js"></script>
    <script src="../node_modules/vue/dist/vue.js"></script>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <link rel="stylesheet" href="../node_modules/element-ui/lib/theme-chalk/index.css">
    <script src="../node_modules/element-ui/lib/index.js"></script>
    <style>
        .el-form-item__content {
            line-height: 40px !important;
            position: relative !important;
            font-size: 14px !important;
            float: left !important;
            margin-left: 13px !important;
        }
        .el-button {
            margin-left: 30px !important;
        }

    </style>
</head>

<body>
<div id="newLottery">

    <el-form :model="dynamicValidateForm" ref="dynamicValidateForm" label-width="100px" class="demo-dynamic">
        <el-form-item
                prop="lotteryName"
                label="抽奖标题"
                :rules="[{ required: true, message: '请输入抽奖标题', trigger: 'blur' },]">
            <el-input v-model="dynamicValidateForm.lotteryName">{dynamicValidateForm.{lotteryName}}</el-input>
        </el-form-item>
        <el-form-item
                prop="password"
                label="密码"
                :rules="[{ required: true, message: '请输入密码', trigger: 'blur' },]"
                v-if="isUpdate">
            <el-input placeholder="请输入密码" v-model="dynamicValidateForm.password" show-password >{{dynamicValidateForm.password}}</el-input>
        </el-form-item>
        <el-form-item
                v-for="(domain, index) in dynamicValidateForm.prizes">
            <el-form-item
                    class="el-form-item__content"
                    :key="domain.key"
                    :prop="'prizes.' + index + '.prizeName'"
                    label="奖品名"
                    :rules="{required: true, message: '奖品不能为空'}">
                <el-input v-model="domain.prizeName">{{domain.prizeName}}</el-input>
            </el-form-item>
            <el-form-item
                    class="el-form-item__content"
                    label="数量"
                    :key="domain.key"
                    :prop="'prizes.' + index + '.num'"
                    :rules="[{ required: true, message: '数量不能为空'}]">
                <el-input-number v-model="domain.num" :min="1">{{domain.num}}</el-input-number>
            </el-form-item>
            <el-button @click.prevent="removeDomain(domain)" class="el-button">删除</el-button>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @click="submitForm()">提交</el-button>
            <el-button @click="addDomain">新增奖品</el-button>
            <el-button @click="resetForm('dynamicValidateForm')">重置</el-button>
        </el-form-item>
    </el-form>
    <el-dialog
            title="上传员工"
            :visible="uploadVisible"
            :show-close="false"
            width="700px">
        <el-upload
                class="upload-demo"
                drag
                :data="this.lotteryId"
                action="lottery/getUploadExcel"
                multiple>
            <i class="el-icon-upload"></i>
            <div class="el-upload__text">将文件拖到此处，或<em>点击上传</em></div>
            <div class="el-upload__text">ps:重新上传会删除原有的员工数据</div>
        </el-upload>
        <span slot="footer" class="dialog-footer">
            <el-button @click="uploadVisible = false">取 消</el-button>
            <el-button type="primary" @click="createEnd">确 定</el-button>
         </span>
    </el-dialog>
    <el-dialog
            title="创建成功"
            :visible="createSuccess"
            :show-close="false"
            width="700px">
        <p>创建抽奖成功，你的抽奖链接是
            {{url}}
            ，请妥善保管
        </p>
        是否立即上传员工？
        <span slot="footer" class="dialog-footer">
            <el-button @click="createSuccess = false">取 消</el-button>
            <el-button type="primary" @click="uploadVisible = true,createSuccess=false">确 定</el-button>
         </span>
    </el-dialog>
    <el-dialog
            title="请输入密码"
            :visible="updateSuccess"
            :show-close="false"
            width="700px">
        <p>密码:
            <el-input placeholder="请输入密码" v-model="updatePassword"  show-password ></el-input>
        </p>
        <span slot="footer" class="dialog-footer">
<!--            <el-button @click="updateSuccess = false">取 消</el-button>-->
            <el-button type="primary" @click="checkPassword">确 定</el-button>
         </span>
    </el-dialog>
</div>
<script type="text/javascript" src="newLottery/newLottery.js"></script>

</body>

</html>
